@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CEScanner</h1>
    <p class="lead">An application for improving the Cyber Essentials certification process.</p>
    <p><a href="http://jack.best" class="btn btn-primary btn-lg">Made by Jack Best &raquo;</a></p>
    <img src="Resources/logo.png"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Use the buttons in the above navigation bar to begin.
        </p>
    </div>
</div>